@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&display=swap');

/* 2. Reseteo global y aplicación de la fuente */
html, body {
  box-sizing: border-box; /* Buena práctica para el layout */
  
  /* 3. Aplicar Inter a toda la app */
  font-family: 'Inter', sans-serif;
  
  /* Asegura que el contenedor raíz también ocupe todo */
  height: 100%;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
}

#root {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}


/* prueba */

.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #388E3C);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
